.messageBox_container {
    flex: .7;
    background-color: rgb(3, 158, 158);
    padding: 1rem;
}

.m_header {
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 82, 82);;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m_body {
    height: 73vh;
    padding: .5rem;
    border-radius: 10px;
    background-color: rgb(0, 82, 82);
    color: white;
}

.message_area {
    background-color: #fafafaab;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    max-height: 66vh;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.input_area {
    margin: .4rem;
    display: flex;
    flex-direction: row;
}

.input_area input {
    flex: .8;
}

.input_area button {
    flex: .2;
}

.m_container_own {
    display: flex;
    margin: 1rem;
    flex-direction: row;
    justify-content: flex-end;
}

.each_message {
    width: fit-content;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 8px 10px;
}

.m_container_friend {
    display: flex;
    margin: 1rem;
    flex-direction: row;
    justify-content: flex-start;
}

.scroll_div {
    overflow: hidden;
}


.each_message p {
    margin: 0;
    color: black;
}